NODE_ENV=development

DATABASE_URL=mongodb://127.0.0.1/chat-communication
CLIENT_URL=localhost:3000

SESSION_SECRET=ziqhkfjgfqygfvHKSDjsdINIDQSJLFGQZUYDZIFPAZ6A37GF23ULNFI3O2F0

BASIC_APP_USERNAME=Ts6dV^t%pKk~8}j^4q%o&_5i)ewxgXGF
BASIC_APP_PASSWORD=@n6z!38)0qPAf-^cEQ2kMIyGpi*Wdsw!t<&5lXF~]rS.Th9%C[OK1;YVmLv_Re=D

# Key for token generation
TOKEN_ENCRYPTION_KEY=rnnAr7EqhzQnVzLBqLFnUSlXHVHUZLDhVvpI75rW9MZJwcY0pN0XpUHl8UFUwknw

TOKEN_DELAY=4h

# Key for user password encryption
PASSWORD_ENCRYPTION_KEY=PtDsqVHCPH4jR6aLwbjvmzTLS4+w1K1b49FJMvd/WlOe9/IrcY3Rvqj5AEyNiF7Z

# key for encryption of all the database before to save it into the database
DATABASE_ENCRYPTION_KEY=bafd3818a67b5a6b66f70d73216c2c31b9d0b93cd375908afd604e7b0d2e49f8

# Key for username encryption
USERNAME_ENCRYPTION_KEY=bafd3818a67b5a6b66f70d73216c2c31b9d0b93cd375908afd604e7b0d2e49f8
USERNAME_DETERMINISTE_IV_GENERATION_KEY=zehfbjezbjizehfjoezbfiojazbfezfoijazbfezfdhlbfiebfzfuez

# Key for user tel encryption
TEL_ENCRYPTION_KEY=bafd3818a67b5a6b66f70d73216c2c31b9d0b93cd375908afd604e7b0d2e49f8
TEL_DETERMINISTE_IV_GENERATION_KEY=ayuvdkeavdyieagfazpihdaifvougjqpqsfbejvcqsysgfefbkfhqsudbqkf

# Key for user email encryption
EMAIL_ENCRYPTION_KEY=bafd3818a67b5a6b66f70d73216c2c31b9d0b93cd375908afd604e7b0d2e49f8
EMAIL_DETERMINISTE_IV_GENERATION_KEY=auoduoazgduaodhazuvdzaifhmeopfrzbfjkefazugdaejfbehazugd

SALT_ROUNDS=10